@font-face {
    font-family: cartoon;
    font-weight: bold;
    src: url(Block\ Cartoon.ttf);
}
* {
    padding: 0;
    border: none;
    margin: 0;
}

html {
    font-size: 12px;
    font-family: cartoon, 'Courier New', Courier, monospace;
}
@media (min-width: 720px) {
    html {
        font-size: 15px;
    }
}
@media (min-width: 1500px) {
    html {
        font-size: 18px;
    }
}

body {
    overflow: hidden;
    min-height: 100svh;
    min-width: 100vw;
}
.ad-container {
    width: 100%;
    height: 100%;
    position: absolute;
    --short-height: 9rem;
    --medium-height: 15rem;
    --long-height: 25rem;
    --short-width: 10rem;
    --medium-width: 18rem;
    --long-width: 28rem;
}

/*ad styles*/
.ad {
    font-family: cartoon, 'Courier New', Courier, monospace;
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    border: 2px solid white;
    border-radius: 8px;
    z-index: 1;
}

/* will have 5 types of ads */
/* Fututre note: maybe replace them with css variables ;) */
.normal {
    width: var(--medium-width);
    height: var(--medium-height);
}
.big {
    width: var(--long-width);
    height: var(--long-height);
}
.small {
    width: var(--short-width);
    height: var(--short-height);
}
.long {
    width: var(--medium-width);
    height: var(--long-height);
}
.short {
    width: var(--medium-width);
    height: var(--short-height);
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.x-btn {
    color: black;
    background-color: transparent;
    box-sizing:border-box;
    padding: 0.75rem; 
    font-size: 1.6rem;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    word-wrap: normal;
    text-align: center;
    line-height: 1.2;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.bottom button {
    font-family: cartoon, 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 2px solid black;
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 70%;
}
/* for different ad style x buttons */
.normal p {
    font-size: 1.6rem; 
}
.normal .bottom button {
    padding: 8px 2rem;
    font-size: 1.2rem;
}

.big p {
    font-size: 3rem;
}
.big .bottom {
    padding: 2rem 0;
}
.big .bottom button {
    padding: 10px 4rem;
    font-size: 2.5rem;
}

.small .middle,
.short .middle {
    padding: 0.5rem 0.6rem;
}
.small p {
    font-size: 0.9rem;
}
.small .x-btn,
.long .x-btn,
.short .x-btn {
    font-size: 0.9rem;
    padding: 0.6rem;
}
.small .bottom {
    padding: 0.5rem;
}
.small .bottom button {
    padding: 4px;
    font-size: 0.75rem;
}

.long p {
    font-size: 1.5rem;
}
.long .bottom button{
    padding: 1rem;
    font-size: 1rem;
}

.short p {
    font-size: 1.2rem;
}
.short .bottom button {
    padding: 4px;
    font-size: 0.8rem;
}

/* objective styles */
.objective {
    min-width: 8rem;
    padding: 8px 10px;
    box-sizing: border-box;
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    font-family: comic, 'Courier New', Courier, monospace;
    text-align: center;
    border: 2px solid black;
    z-index: 0;
}